@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('./NanumSquareNeo-Variable.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('./DNFBitBitv2.ttf') format('opentype')}